<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.alexandre.motivational_messages_admin">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".View.Activities.MainMenu">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".View.Activities.NewMessage" />
        <activity android:name=".View.Activities.MessagesManager" />
        <activity android:name=".View.Activities.ActivityConversion" />
        <activity android:name=".View.Activities.InformationManager" />
        <activity android:name=".View.Activities.ConfirmationManager"></activity>
    </application>

</manifest>